<ion-header>
  <ion-toolbar>
    <ion-title>Conversion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="titre">
  My Convertisseur
</div>

<div class="box">

  <ion-list>
    <ion-item class="txt">
       <label>Longueur à convertir</label>
        <ion-select [(ngModel)]="unite1">
          <ion-select-option value="metre">Mètre</ion-select-option>
          <ion-select-option value="centimetre">Centimètre</ion-select-option>
          <ion-select-option value="mile">Mile</ion-select-option>
          <ion-select-option value="pouce">Pouce</ion-select-option>
        </ion-select>
    </ion-item>

  
    <ion-input [(ngModel)]="userNumber" placeholder="entrez votre convertion"></ion-input>
    
    <ion-item class="txt">
      <label>Longueur convertie</label>
      <ion-select [(ngModel)]="unite2">
        <ion-select-option value="metre">Mètre</ion-select-option>
        <ion-select-option value="centimetre">Centimètre</ion-select-option>
        <ion-select-option value="mile">Mile</ion-select-option>
        <ion-select-option value="pouce">Pouce</ion-select-option>
      </ion-select>
   </ion-item>
  
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button (click)="convert()">Convertir</ion-button>
  </ion-fab>
 
  <p>Le resultat est : {{ resultat }} </p> 
</div>

</ion-content>
