<ion-header>
  <ion-toolbar>
    <ion-title>Conversion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="titre">
  My Convertisseur
</div>
  
<ion-fab vertical="top" horizontal="start" slot="fixed">
<ion-button shape="round" fill="outline" (click)="affichageTemp()">Conversion température</ion-button>
</ion-fab>
<ion-fab vertical="top" horizontal="end" slot="fixed">
<ion-button shape="round"fill="outline" (click)="affichageLong()">Conversion longueur</ion-button>
</ion-fab>


 
<div class="container" *ngIf="start == 'temp'">
  <ion-item>
    <ion-input placeholder="Votre temperature" [(ngModel)]="tempSaisi"></ion-input>
    <ion-select interface="popover" [(ngModel)]="unite">
      <ion-select-option value="celsius" >Celsius</ion-select-option>
      <ion-select-option value="fahren">Fahrenheit</ion-select-option>
      <ion-select-option value="kelvin">Kelvin</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" fill="outline" (click)="convTemp()">Calcule</ion-button>
  <ion-item>
    <ion-input>{{ reuls }}</ion-input>
    <ion-select interface="popover" [(ngModel)]="uniteConv">
      <ion-select-option value="celciusC" (ionChange)="conFtoC()">Celsius</ion-select-option>
      <ion-select-option value="fahrenC">Fahrenheit</ion-select-option>
      <ion-select-option value="kelvinC">Kelvin</ion-select-option>
    </ion-select>
  </ion-item>
</div>

<div class="container" *ngIf="start == 'long'">
  <ion-list>
    <ion-item class="txt">
       <label>Longueur à convertir</label>
        <ion-select [(ngModel)]="unite1">
          <ion-select-option value="metre">Mètre</ion-select-option>
          <ion-select-option value="centimetre">Centimètre</ion-select-option>
          <ion-select-option value="mile">Mile</ion-select-option>
          <ion-select-option value="pouce">Pouce</ion-select-option>
        </ion-select>
    </ion-item>

  
    <ion-input [(ngModel)]="userNumber" placeholder="entrez votre convertion"></ion-input>
    
    <ion-item class="txt">
      <label>Longueur convertie</label>
      <ion-select [(ngModel)]="unite2">
        <ion-select-option value="metre">Mètre</ion-select-option>
        <ion-select-option value="centimetre">Centimètre</ion-select-option>
        <ion-select-option value="mile">Mile</ion-select-option>
        <ion-select-option value="pouce">Pouce</ion-select-option>
      </ion-select>
   </ion-item>
  
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button (click)="convert()">Convertir</ion-button>
  </ion-fab>
 
  <p>Le resultat est : {{ resultat }} </p> 
</div>

</ion-content>
