.titre
{
    display: flex;
    justify-content: center;
    color: rgb(43, 165, 241);
    margin-top: 30px;
}

.box
{
    margin-top: 50px;
    text-align: center;
}
.txt
{
    display: flex;
    flex-direction: column;  
}